/* Global
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #a8a8a8;
    background-color: rgba(12, 12, 12, 1);
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    letter-spacing: 1px;
}

.row {
    max-width: 1200px;
}
.form-control {
    padding: 6px;
    background-color: hsl(209, 44%, 8%);
    border-color: hsl(192, 79%, 23%);
}

/*
 * Header
 */
.navbar-right {
    margin-right: 20px !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-bottom: 1px solid hsl(192, 79%, 23%);
}
.navbar-brand {
    letter-spacing: 0;

    .record {
        color: hsl(192, 79%, 40%);
    }
}


/*
 * Content
 */
#content {
    padding: 20px;
    padding-top: 0;
}
