/* Global
-------------------------------------------------- */
body {
    color: #a8a8a8;
    background-color: rgba(12, 12, 12, 1);
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 100px;
}

.row {
    max-width: 1200px;
}
.form-control {
    padding: 6px;
    background-color: hsl(209, 44%, 8%);
    border-color: hsl(192, 79%, 23%);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
 * Header
 */
.navbar-right {
    margin-right: 20px !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-bottom: 1px solid hsl(192, 79%, 23%);
}
.navbar-brand {
    letter-spacing: 0;

    .record {
        color: hsl(192, 79%, 40%);
    }
    .alpha {
        font-size: 12px;
        position: absolute;
        left: 176px;
        bottom: 4px;
        color: hsl(157, 7%, 35%);
    }
}


/*
 * Content
 */
#content {
    padding: 20px;
    padding-top: 0;
}

.workout {
    margin: 30px 0 0 0;
    padding: 20px;
    background-color: hsla(0, 0, 0, 0.5);

    set_id { display: none; }

    .exercise { text-transform: capitalize; }
}

/*
 * Search
 */
#workout_search {
    input, select {
        .placeholder(hsl(178, 48%, 25%));
        color: #efefef;
    }
    input[name="weight"] {
        width: 118px;
    }

    input[name="resp"] {
        width: 60px;
    }

    .checkbox label {
        margin-right: 15px;
    }
    .nothing_selected {
        color: hsl(178, 48%, 25%);
    }
}

.search_indicators {
    // initially hidden
    display: none;
}

.search_error {
    color: hsl(0, 100%, 32%);
}

.fa-spinner {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}



/*
 * Mixins
 */
// Placeholder text Mixin
.placeholder(@color: false){
    &::-webkit-input-placeholder {
        color: @color;
    }
    &:-moz-placeholder {
        color: @color;
    }
    &::-moz-placeholder {
        color: @color;
    }
    &:-ms-input-placeholder {
        color: @color;
    }
}
