/* Global
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #a8a8a8;
  background-color: #0c0c0c;
}
.row {
  max-width: 1200px;
}
.form-control {
  padding: 6px;
}
/*
 * Header
 */
.navbar-right {
  margin-right: 20px !important;
}
/*
 * Content
 */
#content {
  padding: 20px;
  padding-top: 0;
}
